
body{
    font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;   
        
}

h1{
    font-size: 50px;
}
.yousuf-name{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin: left 5%;
    padding: left 2%;
}
.half-width img{
    width: 100%;
}